@main-color : #f05759;
@btn-border : #f05759;

.btn-primary{
  background: @main-color!important;
  border-color:@btn-border!important;
}

.btn-primary:hover {
  background-color:@main-color!important;
  border-color:@btn-border!important;
}
.btn-primary:active {
  background-color:@main-color!important;
  border-color:@btn-border!important;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, .btn-simple-custom{
  outline:none!important;
  border: none;
}

 .btn-simple-custom{
   background-color: #fff;
   color:#000;
   border-color:none!important;
 }
 .btn-simple-custom:hover{
   background-color: #fff;
   color:#000;
   border-color:none!important;
 }
