@main-color : #f05759;
@btn-border : #f05759;

.btn-primary{
  background: @main-color!important;
  border-color:@btn-border!important;
}

.btn-primary:hover {
  background-color:@main-color!important;
  border-color:@btn-border!important;
}
.btn-primary:active {
  background-color:@main-color!important;
  border-color:@btn-border!important;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, .btn-simple-custom{
  outline:none!important;
  border: none;
}

 .btn-simple-custom{
   color: #fff;
   background: #CB356B;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 .btn-simple-custom:hover{
   color: #fff;
   background: #CB356B;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
