@media only screen and (min-width : 992px) {
  .carousel{
    margin-right: 66px;
  }
.custom-text{
  padding-top: 83px;
}
.featurette-heading {
  margin-top: 120px;
}
.carousel-control.left {

left:-100px;

}
.carousel-control.right {

right:-100px;

}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.index-page {
    background-color: #f9f9f9;
      padding-bottom: 0;
  }
  .container.about-container {
    text-align: left;
  }
  #searchBar{
      width: 200px;
  }
  #searchBar{
    border-right: none;
  }
  #nbt{margin-top: -13px;}
  #nbt span {display: block; font-size: 15px;}
  .footer-ul {padding-left:0px; margin-left:2px; margin-right:40px!important;}
  .footer-ul li { line-height:29px;font-size:12px; left: 0;font-family: 'Lato', sans-serif;}
  .footer-ul i { margin-right:5px;}
  .footer-ul li a { color:#fff;}
  .footer-ul-2 li a {
    color:#fff;
  }
  .footer{
    position: relative;
    margin-bottom: 0;
  }
  .navbar-nav li a span{color:#fff!important;}
  .fa-tree{
    color:#fff!important;
  }
  .fa-university{
    color:#fff!important;
  }
  .navbar-nav li span{color:#fff!important;}
  .dropdown-header{color:#fff!important;}
  .custom_jumbo{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  #map{margin-top: 10px;}
}

.fa-instagram{
  color:#fff!important;
}
.carousel-control.left {

left:-25px;

}
.carousel-control.right {

right:-25px;

}
