.footer {
  position: fixed;
  width: 100%;
  padding-bottom: 0;
  padding-top: 10px;
  color:#fff;
  bottom:0;
}

.white {
    color: #fff;
}
.footer-color{

background-color: #f05759;

}

.footer-ul {padding-left:0px; margin-left:2px; float: left;margin-right: 100px;color:#fff;}
.footer-ul li { line-height:1.9;font-size:14px;color:#fff;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.footer-ul li a { color:#fff;}
.footer-ul li { margin-right:10px;}
.footer-ul-2 li a {
  color:#fff;
}
