.navbar(){
  color: #fff!important;

}


.navbar-brand>img {
   float :left;
   max-height: 33px;
   margin-top: -3px;

}

.navbar-brand #nbt {
      float: right;
      padding-left: 7px;
      padding-top: 5px;
}

.navbar-default .navbar-brand {
    .navbar;
}
.navbar-default .navbar-brand:hover{
    .navbar;
}

.navbar-nav>li>a:hover{
  .navbar;
}
.navbar-nav>li>a:active{
  .navbar;
  background-color: none;
}
.navbar-nav>li>a:focus{
  .navbar;
  background-color:  none!important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open> a:hover {
  background-color: #fff!important;
  color: #000!important;
}

.navbar-default{
  background: #B24592;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.quicklinks{
  .text-color;
  padding: 5px;

}
