.text-color{
    color: #8f7269;
    font-family: 'Roboto', sans-serif;
}

.text-color1 {
  font-family: 'Roboto Slab', serif;
}

.about-container{
background-color: #fff;
border-radius: 25px;
padding: 50px;
padding-top: 30px;


}

.group-container{
  .about-container;
  margin-top: 15px;
  margin-bottom: 15px;
}

.welcome{
  .text-color1;
  font-size: 48px;
  color: @main-color;
}

.aboutbg{
  .text-color1;
  font-size: 24px;
  color: #8f7269;
}

#info{
  vertical-align: middle;
}

#bs-example-navbar-collapse-1 :focus{
  background: none;
}


.index-page{
  background-color: #f9f9f9;
  margin-top: 36px;
  padding-top: 20px;
  padding-bottom: 40px;

}

  .featurette-heading {
    font-size: 50px;
  }

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  color : #fff;
  background-color: #fff;
}

#map {
  min-height: 370px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#custom_video{
    min-height: 370px!important;
  }

.link_color{
  color: #000;
}

.breadcrumb{
  float: left;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}

.cf-custom{
  padding-top: 20px;
  padding-bottom: 20px;
}
.cf-custom-color{
  background-color: #3ec7c2;
}
  .custom_jumbo{
    padding-left: 0!important;
    padding-right: 0!important;
  }


.list-group li a{
  color:#000;
}
.list-group-item:first-child{
  margin-top: -14px;
}
.list-group-item-success{
  background: #79589F;
  color: #fff;
}
.footer-ul {padding-left:0px; margin-left:2px; float: left;margin-right: 100px;color:#fff;}
.footer-ul li { line-height:1.9;font-size:14px;color:#fff;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.footer-ul li a { color:#fff;}
.footer-ul li { margin-right:10px;}
.footer-ul-2 li a {
  color:#fff;
}

  li.active{
  text-align: center solid black;
  font-size: 14px;
}

#searchBar{
  border: 1px solid #000000;
  padding: 10px;
  border-right: none;
  font-size: 16px;
  width: 260px;
  outline: none;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#searchBtn{
  border: 1px solid #000000;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  background: @main-color;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  text-align: left;
}
/* Medium Devices, Desktops */
