#main-inner {
    position: relative;
    height: 476px;
    width: 600px;
    padding-left: 50px;
}

#slider {
    height: 476px;
    width: 600px;
}

#slider img {
    height: 476px;
    width: 600px;
    margin: 0;
    position: relative;
}


/* SLIDER CONTAINER */

.slider-container {
    border: 1px solid #222;
    width: 600px;
    height: 476px;
    overflow: hidden;
}
.previous-btn, .next-btn {
    position: absolute;
    top: 225px;
    width: 40px;
    height: 40px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #222;
    border: 3px solid #fff;
    border-radius: 23px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
}

.previous-btn:hover, .next-btn:hover {
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter:alpha(opacity=90);
}

.previous-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* PAGiNATION */
