#main-inner {
    position: relative;
    height: 476px;
    width: 600px;
    padding-left: 50px;
}

#slider {
    height: 476px;
    width: 600px;
}

#slider img {
    height: 476px;
    width: 600px;
    margin: 0;
    position: relative;
}


/* SLIDER CONTAINER */

.slider-container {
    border: 1px solid #222;
    width: 600px;
    height: 476px;
    overflow: hidden;
}
