#info{
  vertical-align: middle;
}

#bs-example-navbar-collapse-1 :focus{
  background: none;
}

.custom-contss  {
  padding-left: 0;
  padding-right: 0;
  background-color:#79589F;
}

.custom-navss{
  border-bottom: none !important;
  margin-bottom: 0 !important;
}

.fa-wikipedia-w{
  padding-right: 5px;
  padding-left: 1px;
}

.fa-youtube{
  padding-right: 5px;
  padding-left: 1px;
}

.fa-phone, .fa-envelope, .fa-instagram,{
  margin-right: 5px!important;
}
.fa-tree:before{
  margin-right: 5px!important;
}
.fa-university:before{
  margin-right: 5px!important;
}
.glyphicon-tower:before{
  margin-right: 5px!important;
}
.fa-home:before{
  margin-right: 5px!important;
}
.glyphicon-info-sign {
    margin-bottom: 20px;
}
 .co{
  padding-left: 5px;
}

 .fa-map-pin {
   padding-right: 7px;
 }

.index-page{
  margin-top: 73px;
  padding-top: 20px;
  padding-bottom: 40px;

}

  .featurette-heading {
    font-size: 50px;
  }

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.navbar-default{
  background-color:#79589F;
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff!important;
}
.navbar-inverse .navbar-brand{
  color:#fff!important;
}

.article-color{
  background-color: #fff;
}

footer hr{
  font-size: 50px;
  position: absolute;
}

#map {
  min-height: 370px;
}
#custom_video{
    min-height: 370px!important;
  }
footer{
  background-color: #e5e5e5;
  color:#000;
}

.link_color{
  color: #000;
}

.breadcrumb{
  float: left;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
  .custom_jumbo{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .btn-primary{
    background: #79589F!important;
    border-color:#35054d!important;
  }
  .list-group-item-success{
    background: #79589F;
    color: #fff;
  }
  .btn-primary:hover {
    background-color: #79589F!important;
    border-color:#35054d!important;
  }
  .btn-primary:active {
    background-color: #79589F!important;
    border-color:#35054d!important;
}
.btn-custom:hover {
border-color: none!important;
}
.btn-custom:active{
  border-color:none!important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{
  outline:none!important;
  border: none;
}
.btn-success{
  background: #e5e5e5!important;
  margin-bottom: 25px;
  color: #000;
  border-color: #000;
}
.btn-success:hover {
  background-color: #e5e5e5!important;
  color: #000;
  border-color: #000;
}
.btn-success:active {
  background-color: #e5e5e5!important;
  color: #000!important;
  border-color: #000;
}
.custom-color{
background-color: #e5e5e5;
}
.glyphicon-info-sign{
  color: #000;
  font-size: 24px;
}
.list-group li a{
  color:#000;
}
.list-group-item:first-child{
  margin-top: -14px;
}
.footer-ul {padding-left:0px; margin-left:2px; float: left;}
.footer-ul li { line-height:29px;font-size:12px;}
.footer-ul li a { color:#000;}
.footer-ul i { margin-right:10px;}
.navbar-brand>img {
   float :left;
   max-height: 33px;
   margin-top: -3px;

}

.custom-div{
  display: inline;
}

.navbar-brand #nbt {
      float: right;
      padding-left: 7px;
      padding-top: 5px;
}

/* toggle menu*/

  li.active{
  text-align: center solid black;
  font-size: 14px;
}
#sidebar-wrapper{

z-index:1;
position:absolute;
width:0;
height:90%;
overflow-y:hidden!important;
overflow-x:hidden!important;
background: #e5e5e5;
border: 2px solid #79589F;
text-align: center;;
float:left;
list-style:none;
}


#wrapper.menuDisplayed #sidebar-wrapper{
width:250px;
}

.card {
  position: relative;;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;

}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.back {
  background: #eaeaed;
  color: #000;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}
#searchBar{
  border: 1px solid #000000;
  padding: 10px;
  border-right: none;
  font-size: 16px;
  width: 260px;
  outline: none;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#searchBtn{
  border: 1px solid #000000;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  background: #79589F;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .index-page{
  background-color: #49424d;
  background-image: url("../img/retina_wood.png");
}
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.index-page {
    background: #fff;
  }
  #searchBar{
      width: 200px;
  }
  #searchBar{
    border-right: none;
  }
  .btn-custom{margin-top:13px; border:none;}
  .btn-custom:hover {border:none;}
  .btn-custom:active {border:none;}
  #nbt{margin-top: -13px;}
  #nbt span {display: block; font-size: 15px;}
  .footer-ul {padding-left:0px; margin-left:2px;}
  .footer-ul li { line-height:29px;font-size:12px; left: 0;}
  .footer-ul i { margin-right:10px;}
  .footer-ul li a { color:#000;}
  .navbar-nav li a{color:#fff!important;}
  .dropdown-header{color:#fff!important;}
  .custom_jumbo{
    padding-left: 0!important;
    padding-right: 0!important;
  }
  #map{margin-top: 10px;}
}
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
}
