#info{
  vertical-align: middle;
}

#bs-example-navbar-collapse-1 :focus{
  background: none;
}

.museumpage {
    margin-top: 75px;
    margin-bottom: 90px;

}
.fa-wikipedia-w{
  padding-right: 5px;
  padding-left: 1px;
}

.fa-youtube{
  padding-right: 5px;
  padding-left: 1px;
}

.links{
  color: #fff;
  padding-left: 100px;
}

.text-center{
  padding: 0;
}
.index-page{
  margin-top: 73px;
  padding-top: 20px;
  padding-bottom: 40px;

}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  .featurette-heading {
    font-size: 50px;
  }

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
footer{
  padding-top: 35px;
  position: relative;
}

.navbar-wrapper .navbar .container{
  background-color:#79589F;
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff!important;
}
.navbar-inverse .navbar-brand{
  color:#fff!important;
}

.article-color{
  background-color: #fff;
  border-radius:25px;
}
i.fa-facebook-square,
i.fa-instagram,
i.fa-mobile,
i.fa-envelope-o
{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25px;
  color:#79589F;
}

footer hr{
  font-size: 50px;
  position: absolute;
}

#map {
  min-height: 370px;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .index-page{
  background:
  linear-gradient(
    rgba(121,88,159, 0.45),
    rgba(121,88,159, 0.45)
  ),
  url("../img/main2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}



      /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
      .index-page {
          background: #fff;
        }
}

.breadcrumb{
  float: left;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #4099FF;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #4099FF;
 }
 #social-em:hover {
     color: #4099FF;
 }
